<nav>
  <h1 style="color: rgb(220, 149, 149); margin-left:15px; font-size: xx-large;"><strong> R<sup>2</sup></strong></h1>
    <input  type="checkbox" id="check">
     <label for="check">
        <i id="btn">menu</i>
        <i id="cancel">&times;</i>
     </label>
    <ul>
        <li><a href="#" class="active">Artificial</a></li>
        <li><a href="#">Mobile</a></li>
        <li><a href="#">Web</a></li>
        <li><a href="#">Cyber</a></li>
        <li><a href="#">Blockchain</a></li>
        <li><a href="#">Rocket</a></li>
       
    </ul>
</nav>
