<div class="row">
  <!-- New vidio -->
  <div class="col-md-3 ch">
    <app-newvideo></app-newvideo>
  </div>
  <!-- new update -->
  <div class="col-md-6 ch">
    <div
      id="carouselId"
      class="carousel slide carousel-fade"
      data-ride="carousel"
    >
      <div class="carousel-inner">
        <!-- slide-1 -->
        <div class="carousel-item active text-center" date-interval="200">
          <!-- <img
            style="width: 8%"
            class="d-block w"
            src="../../../assets/ai.png"
            alt=""
            srcset=""
          /> -->

          <p>
            Artificial intelligence (AI) is any task performed by program or
            machine, which otherwise human needs to apply intelligence to
            accomplish it.
          </p>
          <div class="carousel-caption d-none d-md-block tb">
            <h4>AI</h4>
            <p>Aritificial Intelligence</p>
          </div>
        </div>
        <!-- slide-2 -->
        <div class="carousel-item text-center" date-interval="200">
          <!-- <img
            style="width: 8%"
            class="d-block w"
            src="../../../assets/java.png"
            alt=""
            srcset=""
          /> -->

          <p>
            Artificial intelligence (AI) is any task performed by program or
            machine, which otherwise human needs to apply intelligence to
            accomplish it.
          </p>
          <div class="carousel-caption d-none d-md-block tb">
            <h4>Blockchain Technology</h4>
            <p>Aritificial Intelligence</p>
          </div>
        </div>
        <!-- slide-3 -->
        <div class="carousel-item text-center" date-interval="200">
          <p>
            Artificial intelligence (AI) is any task performed by program or
            machine, which otherwise human needs to apply intelligence to
            accomplish it.
          </p>
          <div class="carousel-caption d-none d-md-block tb">
            <h4>Machine learning</h4>
            <p>Aritificial Intelligence</p>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselId"
          role="button"
          data-slide="prev"
        >
          <span
            class="carousel-control-prev-icon"
            aria-hidden="true"
            style="background-color: black"
          ></span>
          <span class="sr-only">Privious</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselId"
          role="button"
          data-slide="next"
        >
          <span
            class="carousel-control-next-icon"
            aria-hidden="true"
            style="background-color: black"
          ></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <!-- Order -->
  <div class="col-md-3 ch"></div>
</div>
